.row
.col-md-4
  - if @profile.images.any?
    - @profile.images.each do |image|
      = image_tag(image)
.col-md-1

.col-md-7.text-left
  %h2
    = @user.name

  .basic_info
    %h4
      = @user.location 
    %h4
      = "#{@user.gender.title.capitalize}, #{@user.age}"
  
  %h3
    Tech Talk
    %h4 Industry
    %h4 Job
    %h4 Why tech?
    %h4 Stack (if applicable)

  %h3 Favorite Characters

  %h3 Local Spots

  %h3 Favorite Places (in this or any other dimension)

  %h3 Guilty Pleasure

  %h3 Link you should get

  %h3 Quip
