%h2 Admin Index

!!! 5
%head
  %title Stacksy

%body
  %header
    -@users.each do |user|
      .index-user
        =user.name
        %p #{user.location}, #{user.zipcode}
        %p Gender: #{user.gender_id} Gender ID: #{user.gender.title}
        %p Gender Interests: #{user.gender_interest_ids}
        =user.age
        %br
        %br




  
