%h2 Search

= search_form_for @search, url: search_users_path, method: :post do |f|
  = f.condition_fields do |c|
    =render "condition_fields", f: c
  %p= link_to_add_fields "Add Conditions", f, :condition
  .field
    Sort:
    = f.sort_fields do |s|
      =s.sort_select
    end
  = f.submit "Search"


-@users.each do |user|
  =user.name
