!!! 5
%html
  %head
    %title Stacksy
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p.notice
      = notice
    %p.alert
      = alert

    #left_sidebar
      #left_sidebar_container
        = image_tag("/assets/copy_logo.png", width: "100px") 
        #logo_attribution 
          Creative Commons – Attribution (CC BY 3.0) 
          Copy designed by Garrett Knoll from the Noun Project

      - unless current_page?(new_user_session_path)
        = render "home/menu"
      
      = yield
