!!! 5
%html
  %head
    %title Stacksy
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p.notice
      = notice
    %p.alert
      = alert

    -if current_user
      #right_sidebar
        %nav
          .profile_sidebar_section
            =current_user.name
          .login_logout
            = link_to "Log Out", destroy_user_session_path, method: :delete
          %ul
            %li#menu_item_search 
              = link_to 'Home', home_page_based_on_role
            %li#menu_item_messages 
              = link_to 'Messages', user_messages_path(current_user)
            %li#menu_item_pings 
              = link_to 'Pings', user_pings_path(current_user)
            %li#menu_item_favorites 
              = link_to 'Favorites', user_favorites_path(current_user)
            %li#menu_item_blocks 
              = link_to 'Blocks', user_blocks_path(current_user)

    

   

    = yield
