!!! 5
%html
  %head
    %title Stacksy
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Pacifico"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Libre+Baskerville:400italic"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{href: "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", rel: "stylesheet"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"}
    %script{src: "http://code.jquery.com/ui/1.10.3/jquery-ui.js"}
  %body
    .container-fluid
      .row
        .col-md-2        
          = raw(stacksy_logo(large_dimensions)) 
          %p.special
            Pancake designed by Jacob Halton from
            %a{href: "http://www.thenounproject.com", target: "_blank"} the Noun Project collection.
        .col-md-8
          %header
            %p.notice
              = notice
            %p.alert
              = alert
            -if current_user 
              %h1 Stacksy
              #js-alert
            = yield
        .col-md-2
          %ul.nav.nav-pills.nav-stacked
            %li
              %h3
                = link_to image_tag(current_user.profile.image_1, class: "circular_large"), profile_path(current_user)
                %br
                = link_to current_user.name, profile_path(current_user)
                %br
                = link_to "Membership", user_membership_path(current_user)
                %br
                = link_to "Log Out", destroy_user_session_path, method: :delete

            %li#menu_item_home
              = link_to 'Home', home_page_based_on_role, class: '.btn btn-butter'
            %li#menu_item_search
              = link_to 'Search', user_search_path(current_user), class: '.btn btn-butter'
            %li#menu_item_messages
              = link_to 'Messages', user_messages_path(current_user), class: '.btn btn-butter'
            %li#menu_item_pings
              = link_to 'Pings', user_pings_path(current_user), class: '.btn btn-butter'
            %li#menu_item_tracker
              = link_to 'Tracker', tracker_index_path(current_user), class: '.btn btn-butter'
            %li#menu_item_tracked
              = link_to 'Tracked', tracked_index_path(current_user), class: '.btn btn-butter'
            %li#menu_item_blocks
              = link_to 'Blocks', user_blocks_path(current_user), class: '.btn btn-butter'
