!!! 5
%html
  %head
    %title Stacksy
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Pacifico"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Libre+Baskerville:400italic"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #fb-root
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=248578952014298&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    .container
      .row
        .col-md-2
        #sign-in-content.col-md-8
          %p.notice
            = notice
          %p.alert
            = alert
          = yield
        .col-md-2